body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Source Code Pro', monospace;  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  max-width: 900px;
  margin: 2rem;
  padding: 2rem;
  background-color: #1f1f1f;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.experience-section, .education-section, .skills-section, .projects-section {
  margin-bottom: 3rem;
}

.profile-section h1,
.profile-section .title,
.profile-section p {
  text-align: center;
  margin: 0.5rem;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #3e3e3e;
  display: block;
  margin: 0 auto 1rem auto;
}

.title {
  font-size: 1.2em;
  color: #bb86fc;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: -10px
}

.social-links a {
  color: #ffffff;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s ease, border-color 0.3s ease;;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
  will-change: transform;
}

.social-links a:hover, .social-links a:focus {
  color: #bb86fc;
  text-decoration: none;
  border-color: #bb86fc; 
  transform: scale(1.1);
}

.about-section {
  margin-bottom: 3rem;
  margin-top: -0.5rem;

}

.skills-list, .projects-list {
  list-style-type: none;
  padding: 0;
}

.skills-list li, .projects-list li {
  background-color: #333;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 5px;
}

h2 {
  color: #bb86fc;
  border-bottom: 2px solid #bb86fc;
  padding-bottom: 5px;
}

h3 {
  color: #adff2f;
}